body {
    font-family: "Courier New", Courier, monospace;
    background: #d8d4d4;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #a02121;
}

a:hover {
   font-weight: bold;
   color: #2cac96; 
}

.boxes {
    display: block;
    margin: auto;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    width: 20%;
}

#box1 {
    background: #705b5b;
}
#box2 {
    background: #4b3232;
}
#box3 {
    background: #423c3c;
}
#box4 {
    background: #8d4242;
}