body {
    font-family: "Courier New", Courier, monospace;
    background: #d8d4d4;
}

p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #a02121;
}

a:hover {
   font-weight: bold;
   color: #2cac96; 
}

.heading-wrapper {
    display: flex;
}

.img-wrapper {
    width: 2em;
    height: 2em;
    background: #0b814a;
    flex: 0 0 2em;
}

h2 {
    flex: 1;
}

.boxes {
    display: block;
    margin: auto;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    width: 20%;
}

#box1 {
    background: #705b5b;

}
#box2 {
    background: #4b3232;
}
#box3 {
    background: #423c3c;
}
#box4 {
    background: #8d4242;
}

h1 {
    color: #103242;
}

.favorite {
    color: #c71717;
}

.funny {
    color: #dd5c5c;
}

#rank1{
    color:blue;
}
#rank2 {
    color: green;
}
#rank3 {
    color: orange;
}
#rank4 {
    color: purple;
}
#rank5 {
    color: red;
}